/* Google Font */
body {
	font-family: 'Open Sans', sans-serif;
}

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	/*
	padding-top: 0.8rem;
	padding right: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;
	*/

	/* Shorthand property */
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

nav > ul {
	list-style-type: none;
}

/* margin vs padding */
/* margin is best used when creating space between elements*/
/* padding is best used when creating space between an element's border and its content */

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*
	margin-top:  0.5rem;
	margin-right:  0.5rem;
	margin-bottom:  0.5rem;
	margin-left:  0.5rem;
	*/
	/* Changes elements to inline elements */
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	/* Shorthand for padding: 
	padding: 2rem 10% 3rem*/
}

.header {
	text-align: center;
	/* Best used when horizontally aligning text instead of using our margins and paddings */
}

#intro h2, #intro p {
	/* This creates space between the contents of the intro section */
	margin-bottom: 1rem;
}

#intro button {
	color: white;

	/* changes the thickness of our text */
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	
	/* Creates space between the button text and the border */
	padding: 1rem;
}

/* succeed-info section */
/* exact same properties as the intro section but can have its own CSS rules for flexibility */
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	/* Creates a space between the header and the card section */
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* footer */
footer {
	padding: 0.7rem;
	/* Create space between span tags and the footer border */
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	
}